<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qnm.mapper.ExhibitorMapper">
	<select id="login">
		select id,account,exhPwd
		from exhibitor
		where id = #{id}
	</select>

	<insert id="addExhibitor" parameterType="com.qnm.entity.Exhibitor">
		INSERT INTO
		exhibitor
		SET
		(comName,comAddress,street,comEnglishName,website,postCode,email,comPhone,comAbbreviation,comType,
		establishDate,employeeCount,registeredCapital,industry,productBrand,
		businessLicense,trademarkRegistrationCertificate,authorization,patentGertificate,
		receiveCompany,receiveAddress,receivePhone,recipient,
		account,exhPwd,registrant,registPhone)
		VALUES
		(#{comName},#{comAddress},#{street},#{comEnglishName},#{website},#{postCode},#{email},#{comPhone},#{comAbbreviation},#{comType},
		#{establishDate},#{employeeCount},#{registeredCapital},#{industry},#{productBrand},
		#{businessLicense},#{trademarkRegistrationCertificate},#{authorization},#{patentGertificate},
		#{receiveCompany},#{receiveAddress},#{receivePhone},#{recipient},
		#{account},#{exhPwd},#{registrant},#{registPhone})
	</insert>

	<update id="updateState">
		update exhibitor
		set state = 1
		where id = #{id}
	</update>

	<select id="selectList" resultType="com.qnm.entity.Exhibitor">
		SELECT id,comName,state,registrant,registPhone
		FROM exhibitor
		limit #{limit},#{offset}
	</select>

	<select id="selectBasicInfo" resultType="com.qnm.entity.Exhibitor">
		SELECT
		comName,comAddress,street,comEnglishName,website,postCode,email,comPhone
		FROM exhibitor
		WHERE id = #{id}
	</select>

	<select id="selectOtherInfo" resultType="com.qnm.entity.Exhibitor">
		SELECT
		comAbbreviation,comType,establishDate,employeeCount,registeredCapital,industry,productBrand
		FROM exhibitor
		WHERE id = #{id}
	</select>

	<select id="selectReceiveInfo" resultType="com.qnm.entity.Exhibitor">
		SELECT
		receiveCompany,receiveAddress,receivePhone,recipient
		FROM exhibitor
		WHERE id = #{id}
	</select>

	<select id="selectCertificatesInfo" resultType="com.qnm.entity.Exhibitor">
		SELECT
		businessLicense,trademarkRegistrationCertificate,authorization,patentGertificate
		FROM exhibitor
		WHERE id = #{id}
	</select>





</mapper>